.header-wraper{
    background: grey;
    padding: 30px 0;
    position: relative;
}
.wrapper{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
a{
    color: #fff;
    padding: 7px 15px;
}
ul{
    padding: 20px 0;
    display: flex;
}
.burger-icon {
    display: none;
}




/* Responsive */
@media (max-width: 768px){
  .wrapper, 
  ul{
    display: block;
    text-align: center;
  }   
  .nav-a{
    display: block;
  }  
  .social-icons{
    display: flex;
    justify-content: center; 
  } 
  .logo{
    text-align: left;
  }
  .burger-icon{
    color: #fff;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor:pointer;
  }
  .menu-ul,
  .social-icons{
    display: none;
  }   
  .menu-ul.open-menu{
    display: block;
  } 
  .social-icons.open-socicon{
    display: flex;
  } 
}